center {
    padding-top: 30px;
}

g.xAxis4Bar path.domain, g.yAxis4Bar path.domain, g.yAxis4Bar g.tick{
    display: none;
}

g.xAxis4Bar g.tick line {
    stroke: #C0C0BB;
    stroke-dasharray: 10;
}

g.xAxis4Bar g.tick text {
    fill: #8E8883;
    font-size: 12px;
}
